@import '../../Variables.module';

.header {
    display: flex;
    align-items: center;
    padding: 4px 8px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 24px 24px 40px;
}
