@import '../../../../styles/Variables.module';

.block {
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 22px;
  font-weight: 600;
  color: $black-color;
}

.navy {
  color: $navy-color;
}

.caption {
  font-size: 13px;
  color: $medium-grey-color;
}
