# Environment Variables for Development/Production
NODE_ENV=

# MongoDB Secret
DATABASE_URL=

# Google OAuth Client Secrets
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Google Calendar
GOOGLE_CALENDAR_AA=
GOOGLE_CALENDAR_ALANON=
GOOGLE_CALENDAR_OTHER=

# NextAuth Secrets
NEXTAUTH_SECRET=

# Zoom Secret
NEXT_PUBLIC_ZOOM_BASE_API=

# Zoom Account 1
ZOOM1_CLIENT_ID=
ZOOM1_CLIENT_SECRET=
ZOOM1_ACCOUNT_ID=

# TODO: Add Other Room IDs
