@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

.box {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro";
  text-align: left;
  color: #000;

  &.meeting {
    // Width for a 15 minute Meeting
    min-width: 16px;
    height: 85px;
    padding: 8px 16px;
    border-radius: 6px;

    .title {
      font-size: 14px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-weight: 600;
      padding: 0px;
      // Adds an ellipses for titles when there is no space
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex-shrink: 0;
    }
  }

  &.room {
    width: 155px;
    height: 88px;
    padding: 10px 12px;
    margin: 0px;
    border-radius: 4px;

    .title {
      font-size: 16px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-weight: 600;
      padding: 0px;
      word-wrap: break-word; // Ensures text wraps to three lines
    }
  }

  .time {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
    padding: 0px;
    color: #3A3E49;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
  }

  .tags {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 16px;
    padding: 0px;
    gap: 4px;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;

    .tag {
      padding: 2px 12px;
      border-radius: 10.593px;
      font-size: 10px;
      font-weight: 400;
      white-space: nowrap;
    }
  }
}

// Calendar Day styling for monthly view
.calendarDay {
  display: inline-flex;
  height: 192.6px;
  max-width: 206.86px;
  padding: 12px 8px 12px 0px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid var(--Light-Grey, #CECECE);
  background: #FFF; 
}

%dateNumberBase {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0px 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  box-sizing: border-box;

  /* H4 */
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dateNumber {
  @extend %dateNumberBase;
  color: black;
}

.todayNumber {
  @extend %dateNumberBase;
  color: white;
  background-color: var(--Dark-Pink, #C36);
}

.pastDay {
  opacity: 0.6;
}

.meetingsList {
  display: flex;
  padding: 2px 0px 2px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.meetingItem {
  display: flex;
  width: 190px;
  max-width: 100%;
  padding: 2px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 6px;
  border-left: 6px solid var(--Calendar-Green, #B3EA75);
  background: #E8F8D5;
  box-shadow: 0px 0px 3.656px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.eventDetails {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  width: 100%;
  overflow: hidden;
}

.meetingTime {
  color: var(--Dark-Navy, #3A3E49);
  margin-right: 4px;

  /* Body 4/regular */
  font-family: "Source Sans Pro";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.meetingTitle {
  overflow: hidden;
  color: var(--Black, #1E1E1E);
  text-overflow: ellipsis;

  /* Body 4/semibold */
  font-family: "Source Sans Pro";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.moreMeetings {
  display: flex;
  padding: 2px 10px 2px 8px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  color: #000;

  /* Body 4/semibold */
  font-family: "Source Sans Pro";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
