.checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
  
    input[type='checkbox'] {
      display: none;
    }
  
    .customCheckbox {
      width: 16px;
      height: 16px;
      border: 2px solid;
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
    }
  
    .checkboxLabel {
      color: var(--Black, #1E1E1E);
      font-family: "Source Sans Pro";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .checkmark {
        color: white;
    }
}
  