@import '../../Variables.module.scss';
// Main container
.container {
    padding: 16px;
    background-color: #FFF;
    border-radius: 4px;
    font-family: "Source Sans Pro";

    span {
        font-size: 20px;
        font-weight: 600;
        padding-left: 15px;
    }

    svg {
        fill: $medium-grey-color;
    }
    
    z-index: 99;

    button {
        font-size: 14px;
    }
}

// Selected day style
.selectedDay {
    color: white;
    position: absolute;
    border-radius: 2px;
}

/* Ensure the text (day number) stays visible */
.selectedDay::before {
    background-clip: padding-box;
    background-color: $dark-pink-color;
    border: solid transparent;
    border-radius: 4px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
    z-index: -1;
    width: 20px;
    height: 20px;
}


// Outside days (days not in the current month)
.dayOutside {
    color: #848484;
}

.today:not(.selectedDay) {
    color: black; // Set the text color for .today elements that are not .selectedDay
}