.meetingButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.button {
  background: none;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #1E1E1E;
  padding: 8px 12px;
}

.button:focus {
  outline: none;

  /* Remove the default focus outline */
  border-radius: 8px;
  background: #F1F1F1;
}

.button.selected {
  background: #F1F1F1;
  border-radius: 8px;
}
