@import '../../Variables.module.scss';

.radioGroupContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;

    /* Align label and options to the same starting position */
    .radioGroupLabel {
        color: $black-color;
    }

    .radioGroupOptions {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .radioOption {
        display: flex;
        gap: 12px;
        cursor: pointer;
        accent-color: $pink-color;

        input[type="radio"] {
            position: absolute; /* Prevents the native radio button from taking up space */
            opacity: 0; /* Hide the native radio input */
            cursor: pointer;
        }
    }
}
