@import '../../Variables.module';

.pill {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 10.593px;
  white-space: nowrap;
}

.success {
  background: $success-bg-color;
  color: $success-text-color;
}

.warning {
  background: #FDECC8;
  color: #B8860B;
}

.neutral {
  background: $grey-lightest-color;
  color: $medium-grey-color;
}

.error {
  background: #FBE1E7;
  color: $brand-pink-color;
}
