@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap';
@import '../../Variables.module';

.time-picker-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid $grey-border-color;
  border-radius: 6px;
  padding: 0 12px;
  height: 42px;
  background-color: #fff;
  transition: border-color 0.15s ease;

  &:focus-within {
    border-color: $brand-pink-color;
  }

  &.compact {
    .time-picker-label {
      font-size: 14.4px;
    }

    .time-picker-input {
      font-size: 12px;
    }

    .time-range-separator {
      font-size: 11.2px;
    }
  }

  .time-picker-label {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: $medium-grey-color;
  }

  .time-picker-input {
    font-size: 15px;
    border: none;
    outline: none;
    width: 78px; // Adjust the width to be wider
    min-width: 70px; // Set a minimum width
    text-align: center;
    background-color: transparent; // Transparent background
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;

    /* Hide the time picker icon */
    &::-webkit-calendar-picker-indicator {
      display: none;
      appearance: none;
    }

    &::-moz-calendar-picker-indicator {
      display: none;
    }

    &::-ms-expand {
      display: none;
    }

    appearance: none; // Ensure the time picker icon doesn't appear
  }

  .time-range-separator {
    font-size: 14px;
    color: $medium-grey-color;
  }
}