@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap';
@import '../../../Variables.module';

.spinnerInputContainer {
    display: flex;
    width: 60px;
    padding: 8px 8px 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: border-color 0.3s;
    background: var(--white, #FFF);
    border-radius: 8px;

    &.default {
        border: 1px solid $grey-border-color;
    }

    &.focused {
        border: 1px solid $brand-pink-color;
    }
}

.spinnerInput {
    flex: 1 0 0;
    width: 40px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: none;

    /* Hide default arrows (Firefox) */
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }

    &:disabled {
        background-color: #f0f0f0;
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.spinnerArrows {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.spinnerArrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 6px;
    height: 3px;
    cursor: pointer;
}
