@import '../../../styles/Variables.module';

.googleButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px;
    border: 1.5px solid $light-grey-color;
    border-radius: 8px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 600;
    color: $black-color;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #F5F5F5;
    }
}

.googleIcon {
    width: 18px;
    height: 18px;
}
