@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

.newMeetingSidebar {
  background-color: #ffffff;
  padding: 24px 42px;
  width: 435px;
  height: auto;
  margin: 0 auto; // so the height is responsive to the atoms in it
  border-radius: 0;
}

.newMeetingSidebar .dummyComponent {
  margin-bottom: 16px;
}

.createMeetingButton {
  width: 100%;
  height: auto;
  background-color: #CC3366;
  color: #fff;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22.63px;
  cursor: pointer;
  padding: 10px 0;
  text-align: center;
  border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .newMeetingSidebar {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}