.container {
  display: flex;
  height: 100vh; 
}

.sidebar {
  width: 350px;
  background-color: #f4f4f4; 
  padding: 10px;
}

.primaryCalendar {
  flex: 1; 
  background-color: #ffffff; 
  padding: 20px;
}
