.navbar {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #CECECE;
}

.logo {
    color: #fff;
}

.navItem {
    padding: 10px;
    color: #000;

    &:hover {
        background-color: #e9d8a6;
    }
}

.navcontainer {
    display: flex;
    flex-direction: row;
}

.navigationlist {
    display: flex;
    gap: 24px;
    color: #000;
    list-style-type: none;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    margin: 0px;

    li {

        button,
        a {
            display: inline-block;
            padding: 5px 10px;
            border: 2px solid transparent;
            border-radius: 8px;
            text-decoration: none; 
            color: #000;
            background-color: transparent; 
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;

            &:hover,
            &:focus {
                color: #000; 
                border-color: #000; 
            }
        }

        &.active {
            a {
                color: #000;
                background-color: #e9d8a6;
                border-color: #000;
            }
        }
    }
    }

.welcome {
    padding: 7px 12px;
    font-size: 16px;
    width: 15%;
}