.navbar {
    width: 100%;
    background-color: #005f73;
}

.logo {
    color: #fff;
}

.navItem {
    padding: 10px;
    color: #fff;

    &:hover {
        background-color: #e9d8a6;
    }
}

.navcontainer {
    display: flex;
    flex-direction: row;
}

.navigationlist {
    display: flex;
    gap: 24px;
    color: #fff;
    list-style-type: none;
    padding: 0;
    width: 100%;
    justify-content: space-around;

    li {

        button,
        a {
            display: inline-block;
            padding: 5px 10px;
            border: 2px solid transparent;
            border-radius: 8px;
            text-decoration: none; 
            color: #fff;
            background-color: transparent; 
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;

            &:hover,
            &:focus {
                color: #005f73; 
                background-color: #fff;
                border-color: #005f73; 
            }
        }

        &.active {
            a {
                color: #005f73;
                background-color: #e9d8a6;
                border-color: #005f73;
            }
        }
    }
    }