@import 'Variables.module.scss';

.navbarContainer {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-family: 'Source Sans Pro', sans-serif;
    img {
      cursor: pointer;
    }
}

.navbarContainerLeft {
  display: flex;
  align-content: space-between;
  align-items: center;
  gap: 1rem;
}

.dateToggle {
  display: flex;
  align-content: space-between;
  gap: 20px;
}

.box {
  a {
    color: $black-color;
    text-decoration: none;
  }

  select {
    border: none;
    background: transparent;
    width: 100%;
    padding-right: 15px;
    font-size: 1rem;
    color: $black-color;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;

    appearance: none;
    background-image: url('/drop-down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 0px center;
}

select:focus {
    outline: none;
    border-color: $medium-grey-color;
}

  border-style: solid;
  border-width: 1px;
  border-color: $medium-grey-color;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}