$black-color: #1E1E1E;
$medium-grey-color: #848484;
$light-grey-color: #CECECE;
$dark-pink-color: #CC3366;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');